body {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
	overflow-x: hidden;
	letter-spacing: 1px;
}

h1,
h3 {
	color: var(--white);
	user-select: none;
	letter-spacing: 1px;
}

form {
	width: 100%;
	padding: 0 12%;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 40px;
}

form label select option {
	display: flex;
	outline: none;
	flex-direction: row;
}

form label {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 15px;
	color: var(--white);
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 0.9rem;
}

form label:focus-within {
	color: var(--purpleSecondary);
}

form input,
select {
	display: flex;
	width: 100%;
	height: 60px;
	border-radius: 10px;
	flex-direction: column;
	border: 1.5px solid var(--backgroundTertiary);
	background-color: var(--backgroundSecondary);
	padding: 0px 25px;
	transition: 0.5s;
	color: var(--white);
}

/* option {
	height: 1100px;
} */

form input:focus,
select:focus {
	border: 1.5px solid var(--purpleSecondary);
}

select {
	cursor: pointer;

	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

form .address-box-one {
	display: flex;
	gap: 40px;
}

form .address-box-two {
	display: flex;
	gap: 40px;
}

form .address-box-two input {
	display: flex;
	width: 100%;
}

form .date-box  {
	display: flex;
	width: 100%;
	gap: 40px;
}

form .date-box input {
	display: flex;
	width: 100%;
}

form .account-age {
	display: flex;
	gap: 40px;
}

button {
	width: 25%;
	height: 50px;
	border-radius: 10px;
	font-size: 1.15rem;
	font-weight: 700;
	color: var(--white);
	letter-spacing: 1px;
	cursor: pointer;
	transition: 0.5s;
	background-color: var(--backgroundPrimary);
	border: 2px solid var(--purpleSecondary);
}

form button:hover,
button:hover {
	background-color: var(--purpleSecondary);
}

form .btn,
.btn {
	width: 100%;
	display: flex;
	align-items: cente;
	justify-content: center;
}

.term {
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	gap: 25px;
	color: var(--white);
}

.term a {
	text-decoration: none;
	color: var(--purpleSecondary);
}

.checkbox {
	display: flex;
	gap: 5px;
	font-weight: 300;
	justify-content: center;
	align-items: center;
	color: var(--white);
}

.checkbox input {
	width: 25px;
	height: 25px;
	background-color: var(--backgroundPrimary);
	border-radius: 5px;
	/* vertical-align: middle; */
	border: 2px solid var(--purpleSecondary);
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

.checkbox input:checked {
	background-color: var(--purpleSecondary);
}

/* ------------------------------------- */

.cover {
	width: 100%;
	display: block;
	position: relative;
	height: 250px;
	border-radius: 10px;
	overflow: hidden;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 5px var(--backgroundSecondary);
}

.cover img {
	width: 100%;
	z-index: 1;
}

.cover input[type="file"] {
	display: none;
}

.cover .photo-label {
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 2;
}

#image-photo-preview {
	position: absolute;
	width: 100%;
}

/* --------------------------- */

.cover-complement {
	width: 100%;
	display: block;
	position: relative;
	height: 250px;
	border-radius: 10px;
	overflow: hidden;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 5px var(--backgroundSecondary);
}

.cover-complement img {
	width: 100%;
	z-index: 1;
}

.cover-complement input[type="file"] {
	display: none;
}

.cover-complement .photo-complement-label {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#resultadoCelebridade{
	display: none;
}

#image-photo-complement-preview {
	position: absolute;
	width: 100%;
}
