@import url(../css/color.css);

body {
	padding: 2% 6%;
}

header {
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.image-logo {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

form {
	width: 75%;
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--backgroundTertiary);
	border-radius: 10px;
	overflow: hidden;
	transition: 0.25s;
	user-select: none;
	border: 1px solid var(--backgroundTertiary);
}

form:focus-within {
	border: 1px solid var(--purpleSecondary);
}

form > input {
	width: 95%;
	height: 100%;
	outline: none;
	border-radius: 10px 0px 0px 10px;
	padding-left: 15px;
	border: none;
	color: var(--white);
	background-color: var(--backgroundTertiary);
}

form button {
	width: 5%;
	height: 100%;
	border-radius: 0px 10px 10px 0px;
	border: none;
	cursor: pointer;
	background-color: var(--backgroundTertiary);
}

form button img {
	width: 20px;
	height: 20px;
}

header > .btn {
	height: 100%;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: var(--backgroundTertiary);
}
