:root {
	--gapPrimary: 50px;
}

@import url(./color.css);

/* body {
	padding: 2% 6%;
} */

header {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
}

header a {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

header .icon-chat,
.icon-user {
	background-color: var(--backgroundTertiary);
	border-radius: 10px;
    border: 1px solid var(--backgroundTertiary);
    transition: .5s;
}

header .icon-chat:hover,
.icon-user:hover {
    background-color: var(--backgroundPrimary);
    border: 1px solid var(--purpleSecondary);

}

header .logo img {
	width: 40px;
	height: 40px;
}


