:root {
	--gapPrimary: 2%;
	--borderPrimary: 1.5px solid var(--purpleSecondary);
	--borderSecondary: 1.5px solid var(--backgroundTertiary);
}

* {
	user-select: none;
	outline: none;
	color: var(--white);
	letter-spacing: 1px;
}

body {
	width: 100vw;
	height: 100vh;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: var(--gapPrimary);
	text-align: left;
}

[data-tab-content] {
	display: none;
}

.bem-vindo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-start: 5px;
}

.gosto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-start: 3px;
}

.fav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-start: 3px;
}

/* ---------------------------------- inputs ----------------------------------- */


button{
    outline: none;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width: 100%;
    height: 70%;
}

/* ----------------- line 1 ------------------- */

.line-1{
    display: flex;
    gap: 56px;
}

.line-1 input{
    width: 270px;
    height: 100px;
    border-radius: 10px;
    background-color: var(--backgroundTertiary);
    border: 2px solid var(--purpleSecondary);
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}

.line-1 input:hover{
    background-color: var(--purpleSecondary);
    /* background-color: var(--purpleSecondary); */
}

.line-1 input:focus{
     background-color: var(--purpleSecondary);
}

/* ----------------- line 2 ------------------- */

.line-2{
    display: flex;
    align-items: flex-end;
    gap: 50px;
}

.line-2 input{
    width: 270px;
    height: 100px;
    border-radius: 10px;
    background-color: var(--backgroundTertiary);
    border: 2px solid var(--purpleSecondary);
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}

.line-2 input:hover{
    background-color: var(--purpleSecondary);
    /* background-color: var(--purpleSecondary); */
}

.line-2 input:focus{
    display: fixed;
    background-color: var(--purpleSecondary);
}

/* ----------------- line 3 ------------------- */

.line-3{
    display: flex;
    align-items: flex-end;
    gap: 30px;
}

.line-3 input{
    width: 270px;
    height: 100px;
    border-radius: 10px;
    background-color: var(--backgroundTertiary);
    border: 2px solid var(--purpleSecondary);
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}

.line-3 input:hover{
    background-color: var(--purpleSecondary);
    /* background-color: var(--purpleSecondary); */
}

.line-3 input:focus{
    background-color: var(--purpleSecondary);
}
/* 
.line-3 input:focus:hover{
    background-color: var(--purpleSecondary);
} */

input button:focus-within {
	color: var(--purpleSecondary);
}

/* ----------------- line 4 ------------------- */ 

.line-4{
    display: flex;
    align-items: flex-end;
    gap: 50px;
}

.line-4 button{
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    width: 250px;
    height: 70px;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--backgroundTertiary);
    background-color: var(--borderPrimary);
    color: white;
    letter-spacing: 1px;
}

.line-4 .next{
    border: 2px solid var(--purpleSecondary);
    transition: linear 0.5s;
}

.line-4 .next:hover{
    background-color: var(--purpleSecondary);
}