:root {
	--gapPrimary: 2%;
	--borderPrimary: 1.5px solid var(--purpleSecondary);
	--borderSecondary: 1.5px solid var(--backgroundTertiary);
}

* {
	user-select: none;
	outline: none;
	color: var(--white);
	letter-spacing: 1px;
}

body {
	width: 100vw;
	height: 100vh;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: var(--gapPrimary);
	text-align: left;
}

[data-tab-content] {
	display: none;
}

.active[data-tab-content] {
	display: block;
}

.tabs {
	display: flex;
	gap: 25px;
	list-style: none;
	letter-spacing: 1px;
	font-size: 1.15rem;
}

.tab {
	cursor: pointer;
}

.tab.active {
	cursor: pointer;
	color: var(--purpleSecondary);
	padding-bottom: 15px;
	border-bottom: 3px solid var(--purpleSecondary);
}

.tab:hover {
	cursor: pointer;
	color: var(--purpleSecondary);
	padding-bottom: 15px;
}

.tab-content {
	width: 100%;
	height: 100%;
	/* background-color: tomato; */
}


.new-box {
	width: 100%;
	height: 125px;
	border-radius: 10px;
	/* background-color: lightblue; */
	border: 1.5px solid var(--purpleSecondary);
	background-color: var(--backgroundTertiary);
	display: flex;
	align-items: center;
	padding: 0 4%;
	gap: 25px;
}

.new-box .image-box {
	width: 50px;
	height: 50px;
	background-color: var(--purpleSecondary);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.new-box .image-box img {
	width: 28px;
	height: 28px;
	border-radius: 10px;
}

.new-box label {
	font-size: 1.10rem;
	font-weight: 200;
}

.old-box {
	width: 100%;
	height: 125px;
	border-radius: 10px;
	/* background-color: lightblue; */
	border: 1.5px solid var(--purpleSecondary);
	background-color: var(--backgroundTertiary);
	display: flex;
	align-items: center;
	padding: 0 4%;
	gap: 25px;
}

.old-box .image-box {
	width: 50px;
	height: 50px;
	background-color: var(--purpleSecondary);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.old-box .image-box img {
	width: 28px;
	height: 28px;
	border-radius: 10px;
}

.old-box label {
	font-size: 1.10rem;
	font-weight: 200;
}

