@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.75px;

}

:root {

    --backgroundPrimary: #1F2427;
    --backgroundSecondary: #262B2E;
    --backgroundTertiary: #32363A;

    --purplePrimary: #6123F6;
    --purpleSecondary: #7F37FF;
    --purpleTertiary: #CDAFFC;

    --red: #F04242;
    --orange: #F99A42;
    --green: #00B890;

    --white: #FFFFFF;

    --purpleLinear: linear-gradient(90deg, rgba(127, 55, 255, 1) 0%, rgba(156, 108, 249, 1) 100%);
    --darkLinear: linear-gradient(90deg, rgba(38, 43, 46, 1) 0%, rgba(50, 54, 58, 1) 100%);

}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
}

body section {
    width: 50%;
    height: 100%;
    position: relative;
}

body .logo-container,
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

body .logo-container {
    background-color: var(--purpleSecondary);
    display: flex;
    justify-content: center;
}

body .logo-container button {
    width: 3em;
    height: 3em;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 3em;
    margin-left: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid .3em var(--backgroundPrimary);
    border-radius: .75em;
    background-color: var(--backgroundPrimary);
    cursor: pointer;
    transition: 0.15s linear;
}

body .logo-container button:hover {
    background-color: var(--purpleSecondary);
    border: solid .3 currentColor;
}

body .logo-container button:hover path {
    stroke: var(--backgroundPrimary);
}

body .logo-container img {
    width: 40%;
}

body .form-container {
    background-color: var(--backgroundPrimary);
}

body .form-container div {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

body .form-container div h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1em;
    color: var(--white);
}

body .form-container div p {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    transition: 0.15s linear;
    color: var(--white);
}

body .form-container div p:focus-within {
    color: var(--purpleSecondary);
}

body .form-container div p input {
    width: 100%;
    height: 5vh;
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: var(--backgroundTertiary);
}

body .form-container div p input:focus {
    outline: none;
    color: var(--purpleSecondary);
    border-color: var(--purpleSecondary);
    border: solid 3px;
}

body .form-container div p a {
    color: var(--purpleSecondary);
    text-decoration: none;
    font-size: 0.75rem;
}

body .form-container div button {
    width: 100%;
    height: 5vh;
    border-radius: 10px;
    border: solid 3px var(--purpleSecondary);
    background-color: transparent;
    font-size: 1.25rem;
    color: var(--purpleSecondary);
    cursor: pointer;
    transition: 0.20s linear;
}

body .form-container div button:hover {
    background-color: var(--purpleSecondary);
    color: var(--backgroundPrimary);
}

body .form-container div p:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.75rem;
    gap: 0.25vw;
}