body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	padding: 0;
	position: relative;
}

section {
	width: 50%;
	height: 100%;
	position: relative;
}

h1 {
	color: var(--white);
	user-select: none;
	letter-spacing: 1px;
}

.logo-container,
.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-container {
	background-color: var(--purpleSecondary);
	display: flex;
	justify-content: center;
}

.logo-container img {
	width: 40%;
	height: 40%;
}

.logo-container button {
	position: absolute;
	top: 0;
	left: 0;
	margin: 3% 6%;
	cursor: pointer;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: 1.5px solid var(--backgroundPrimary);
	background-color: var(--backgroundPrimary);
	transition: 0.15s linear;
}

.logo-container button:hover {
	background-color: transparent;
	border: 1.5px solid var(--backgroundPrimary);
}

.logo-container button:hover path {
	stroke: var(--backgroundPrimary);
}

.logo-container button img {
	width: 24px;
	height: 24px;
}

.form-container {
	flex-direction: column;
	padding: 3% 12%;
	gap: 50px;
}

.form-container form {
	width: 100%;
	padding: 0 6%;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.form-container label {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 15px;
	color: var(--white);
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 0.9rem;
}

.form-container label:focus-within {
	color: var(--purpleSecondary);
}

.form-container input {
	display: flex;
	height: 50px;
	border-radius: 10px;
	flex-direction: column;
	border: 1.5px solid var(--backgroundTertiary);
	background-color: var(--backgroundSecondary);
	padding: 0px 25px;
	transition: 0.5s;
	color: var(--white);
}

.form-container input:focus {
	border: 1.5px solid var(--purpleSecondary);
}

.form-container a {
	text-decoration: none;
	color: var(--purpleSecondary);
	font-size: 0.7rem;
}

.form-container button {
	height: 50px;
	border-radius: 10px;
	border: 1.5px solid var(--purpleSecondary);
	background-color: transparent;
	transition: 0.5s;
	color: var(--white);
	cursor: pointer;
	letter-spacing: 1px;
	font-weight: 700;
}

.form-container button:hover {
	background-color: var(--purpleSecondary);
}

.form-container .register {
	display: flex;
	flex-direction: row;
	font-size: 0.7rem;
	gap: 5px;
	justify-content: center;
    transition: .5s;
}

.form-container .register:focus-within {
	color: var(--white);
}
