* {
	letter-spacing: 1px;
}

body {
	width: 100vw;
	height: 100vh;
	max-height: 100vh;
	padding: 3% 6%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	user-select: none;
	gap: 50px;
}

h1 {
	text-align: center;
	color: var(--white);
}

[data-tab-content] {
	display: none;
}

.active[data-tab-content] {
	display: block;
}

.tabs {
	display: flex;
	gap: 50px;
	list-style: none;
	letter-spacing: 1px;
	font-size: 1.15rem;
	color: var(--white);
	font-size: 1.25rem;
	justify-content: center;
}

.tab {
	cursor: pointer;
}

.tab.active {
	cursor: pointer;
	color: var(--purpleSecondary);
	padding-bottom: 15px;
	border-bottom: 3px solid var(--purpleSecondary);
	transition: 0.5s;
}

.tab:hover {
	cursor: pointer;
	color: var(--purpleSecondary);
	padding-bottom: 15px;
	transition: 0.25s;
}

.tab-content {
	width: 100%;
	height: 100%;
}

#user {
	width: 100%;
	height: 100%;
	/* background-color: lightsalmon;	 */
}

#user .user-box {
	width: 100%;
	height: 100%;
	padding: 0 18%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

#user .user-box form {
	width: 100%;
	/* height: 100%; */
	display: flex;
	flex-direction: column;
	gap: 25px;
}

#user .user-box form .password {
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: row;
	gap: 25px;
}

#user .user-box form label {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 15px;
	color: var(--white);
	font-weight: 500;
	font-size: 0.9rem;
}

#user .user-box form label:focus-within {
	color: var(--purpleSecondary);
}

#user .user-box form input {
	width: 100%;
	height: 50px;
	border-radius: 10px;
	border: 1.5px solid var(--backgroundTertiary);
	background-color: var(--backgroundSecondary);
	padding: 0px 25px;
	transition: 0.5s;
	color: var(--white);
}

#user .user-box form input:focus {
	border: 1.5px solid var(--purpleSecondary);
}

#user .user-box button,
#salvarUsuario {
	width: 25%;
	height: 50px;
	border-radius: 10px;
	border: 1.5px solid var(--purpleSecondary);
	font-weight: 700;
	font-size: 1rem;
	color: var(--purpleSecondary);
	background-color: transparent;
	cursor: pointer;
	transition: 0.25s linear;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

#user .user-box button:hover,
#salvarUsuario:hover {
	background-color: var(--purpleSecondary);
	color: var(--white);
}

#user .address {
	display: flex;
	gap: 25px;
}

#user .date-user {
	display: flex;
	gap: 25px;
}

/* ----------------------------------------------- */

#company {
	width: 100%;
	height: 100%;
	/* background-color: lightsalmon;	 */
}

#company .company-box {
	width: 100%;
	height: 100%;
	padding: 0 18%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

#company .company-box form {
	width: 100%;
	/* height: 100%; */
	display: flex;
	flex-direction: column;
	gap: 25px;
}

#company .company-box form .password {
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: row;
	gap: 25px;
}

#company .company-box form label {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 15px;
	color: var(--white);
	font-weight: 500;
	font-size: 0.9rem;
}

#company .company-box form label:focus-within {
	color: var(--purpleSecondary);
}

#company .company-box form input {
	height: 50px;
	border-radius: 10px;
	border: 1.5px solid var(--backgroundTertiary);
	background-color: var(--backgroundSecondary);
	padding: 0px 25px;
	transition: 0.5s;
	color: var(--white);
}

#company .company-box form input:focus {
	border: 1.5px solid var(--purpleSecondary);
}

#company .company-box button,
#salvarEmpresa {
	width: 25%;
	height: 50px;
	border-radius: 10px;
	border: 1.5px solid var(--purpleSecondary);
	font-weight: 700;
	font-size: 1rem;
	color: var(--purpleSecondary);
	background-color: transparent;
	cursor: pointer;
	transition: 0.25s linear;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

#company .company-box button:hover,
#salvarEmpresa:hover {
	background-color: var(--purpleSecondary);
	color: var(--white);
}

/* --------------------------------------------------------------- */

.photos {
	display: flex;
	flex-direction: row;
	gap: 25px;
}

.photos label {
	display: flex;
    
}

/* --------------------------------------------------------------- */

.profile-photo {
	width: 200px;
	height: 200px;
	display: block;
	position: relative;
	/* height: 250px; */
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 5px var(--backgroundSecondary);
}

.profile-photo img {
	height: 100%;
	z-index: 1;
}

.photo-label input[type="file"] {
	width: 100%;
	height: 100%;
	display: none;
}

.profile-input-file .profile-photo-label {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#profile-image-preview {
	position: absolute;
	height: 100%;
}

.cover-photo {
	width: 100%;
	height: 200px;
	display: block;
	position: relative;
	/* height: 250px; */
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 5px var(--backgroundSecondary);
}

.cover-photo img {
	width: 100%;
	height: 100%;
	z-index: 1;
}

.photo-label input[type="file"] {
	width: 100%;
	height: 100%;
	display: none;
}

.cover-input-file .cover-photo-label {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#cover-image-preview {
	position: absolute;
	height: 100%;
}

form input,
select {
	display: flex;
	width: 100%;
	height: 60px;
	border-radius: 10px;
	/* flex-direction: column; */
	border: 1.5px solid var(--backgroundTertiary);
	background-color: var(--backgroundSecondary);
	padding: 0px 25px;
	transition: 0.5s;
	color: var(--white);
}

form input:focus,
select:focus {
	border: 1.5px solid var(--purpleSecondary);
}

select {
	cursor: pointer;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
